# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
media/
staticfiles/

# Environment variables
.env
.env.*

# Virtual environments
venv/
ENV/
.envrc

# VSCode and IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Migrations
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo

# Docker
*.pid

# OS files
.DS_Store
Thumbs.db

# Test coverage
htmlcov/
.coverage
.tox/
.nox/

# Others
*.bak
*.swp
*.tmp
